@charset "UTF-8";

/*
  Paleta de Cores:
  roxo: #5a3293
  verde: #088e99
  preto: #000000
  branco: #ffffff
*/

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html{
  background-color: #5a3293;
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*defini 50 top e left e fiz ele voltar 50 tbm, pra ficar no meio */
  overflow: hidden; /* tudo que estiver fora da borda ficar치 escondido */
  background-color: #ffffff;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00000085; /*sombra em volta*/
}

#login > #imagem{
  display: block;
  background: #5a3293 url(../img/pexels-miguel-치-padri침치n-2882566.jpg) no-repeat;
  background-size: cover;
  height: 200px;
}

#login > #formulario{
  display: block;
  padding: 10px;
}